#navbar-btn {
    border-radius: 25px;
}

#debug {
    background-color: red;
}

#pkg-installed {
    color: green;
}

#bicon {
    background-color: transparent;
    border: none;
    border-radius: 0px;
    color: inherit;
    font-size: inherit;
}